@mixin textTransform($color) {
    color:$color;
    text-transform: uppercase;
    text-decoration: none;
}
body{
    background:$backgroundColor;
    
}

header {
    background: $headerBgImage 100% 100% no-repeat;
    background-size: cover;
    height: 100vh;
    
    

    .top-wrapper{
        .logo {
            display: inline-block;
            img{
                width: 50%;
            }
        }
        nav{
            float: right;
            display:flex;
            width: 50%;
            
            a{
                @include textTransform($linkColor);
                border-left: 1.5px solid grey;
                width: 33%;
                height: 10vh;
                display: flex;
                align-items: center;
                justify-content: center;
                
                
                &:first-of-type{
                    border-left: none;
                    
                }
                &:hover{
                    background: rgba(192,192,192, .3);
                    
                }
            }
        }
    }
    section{
        text-align: center;
        color: red;
        position: relative;
        top: 20%;
        h1{
            @include textTransform($linkColor);
        }
        a{
            padding: 1% 4%;
            text-decoration: none;
            background: $buttonColor;
            color: #fff;
            text-transform: uppercase;

            &:hover{
                background: $buttonColorHover;
            }
            
        }
    }
}
main{
    width: 70%;
    display: block;
    margin: 0 auto;
    section{
        h1{
            text-align: right;
            text-transform: uppercase;
            margin: 0;
        }
    }
    .toolbar{
        width: 100%;
        display: inline-block;
        margin: 2% 0;
        input{
            float: right;
            padding: 1%;
            display: block;
            
        }
    }
    .post-list{
        article{
            background: $articleBg;
            padding: 1%;
            margin-bottom: 2%;
            display: flex;

            .post{
                .post-description{
                    color: $postDescriptionColor;
                    padding: 1%;
                    
                }
                h3{
                    @include textTransform($articleTitleColor);
                    margin: 1%;
                    padding-top: 1%;
                    border-top: 1px solid #000;
                    
                    
                }
                p{
                   margin: 0;
                   padding: 0 0 2% 1%;
                   color: $articleText;
                }
            }
                .btn{
                    float: right;
                    padding: 1% 10%;
                    @include textTransform(#fff);
                    background: $buttonColor;
                    border: none;

                    &:hover{
                        background: $buttonColorHover;
                        cursor: pointer;

                    }
                }
        }
    }
    .about{
        margin-top: 5%;
        h1{
            margin-bottom: 0;
            color: $blocksTitle;
        }
        p{
            color: $articleText;
            &:first-of-type{
                margin-top: 0;
            }
        }
        div{
            img{
                width: 100%
            }
        }
    }
    .contact-form{
        margin-top: 5%;
        h1{
            margin-bottom: 0;
            color: $blocksTitle;
        }
        .input_field{
            width: 49%;
            display: inline-block;
            
            
        }
        h4{
            @include textTransform(#000);
            float: right;
            margin: 0;
            color: $blocksTitle;
        }
        p{
            text-align: right;
            margin: 0;
            color: $articleTitleColor;

            &:last-of-type{
                margin-top: 3%;
            }

            &::after{
                content: ' *'
            }
        }
        #contact_name, #contact_email{
            width: 100%;
            padding: 2%;

            
        }
    }
    #contact_message{
        width: 100%;
        height: 200px;
        
    }
    .btn{
        float: right;
        padding: 1% 8%;
        @include textTransform(#fff);
        background: $buttonColor;
        border: none;
        margin-top: 2%;

        &:hover{
            background: $buttonColorHover;
            cursor: pointer;

        }
    }
}
footer{
    margin-top: 5%;
}

