$backgroundColor:#fff;
$buttonColor: rgb(29, 145, 153);
$buttonColorHover:darken($buttonColor,10%); 
$articleBg:rgb(231, 231, 231);
$postDescriptionColor:red;
$articleTitleColor:$buttonColor;
$headerBgImage:url(/homework/img/header_background_v1.jpg);
$linkColor:#fff;
$articleText:black;
$blocksTitle:$articleText;