$backgroundColor:rgb(231, 231, 231);
$buttonColor: rgb(2, 25, 155);
$buttonColorHover:darken($buttonColor,10%); 
$articleBg:#fff;
$postDescriptionColor:grey;
$articleTitleColor:$postDescriptionColor;
$headerBgImage:url(/homework/img/header_background_v2.jpg);
$linkColor:rgb(225, 103, 9);
$articleText:$postDescriptionColor;
$blocksTitle: $postDescriptionColor;